*{
    margin: 0px;
    padding: 0px;
    
    }

body{
    background-image: linear-gradient(rgba(254, 252, 252, 0.516), rgba(255, 255, 255, 0)),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr4APYDry84YmngGYoDaeyUT3ixJweEu5XIg&s");
}

.light-mode{
    color: black;
    background-color: white;
}
.dark-mode{
    color: white;
    background-color: rgba(13, 2, 43, 0.884);
    background-image: linear-gradient(rgba(10, 3, 48, 0.705), rgba(6, 6, 64, 0.765)),
    url();
    box-shadow: 4px 8px rgba(242, 244, 239, 0.849),
}


header{
    height: 100px;
    background-color:#096101;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
input{
    border-radius: 50px;
    height: 50px;
    margin: 30px;
    width: 250px;
    
 }

.logim {
    margin: 25px;
    width: 50px;
    height: 50px;
    border-radius: 7px;

   
}
#toggle-button { 
    width: 50px;
    height: 50px;
    border-radius: 7px;
    
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 70px;
}


nav{
    
    height: 40px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  background-color: rgb(251, 251, 247);
}

button{
    width: 380PX;
    border-color: #75cb6d;
  }

h1{
    justify-content: center;
    display: flex;
    padding: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 55px;
}  
.ima{
    height: 400px;
    width: 480px;
    margin: 50px;
   margin-left: 100px;
    
  }

.tema{
    display: flex;
}
.texto{
    
    width: 800px;
    height: 250px;
    justify-content: left;   
    margin: 8px;
    margin-bottom: 80px;
}
 p{
    text-align: justify;
    font-size: 18px;
 }
.ex{
    font-size: 32px;
    justify-content: left;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.line{
    width: 80%;
    border-radius: 10px;
    border: #3169a0 2px solid;
    margin-bottom: 25px;
}
.imagens{
 border-radius: 25px;
}


 .canto{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 25px;
 }
 .base{
    display: flex;
    align-items: flex-start;
    width: 100%;
 }
 .col{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 25px;
    font-size: 18px;
 }
 .esq, .dir{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .org
{
    display: flex;
    flex-direction: column;
    margin-right: 130px;
}



footer{   
    background-color: #1d6847; 
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer img{
    width: 130px;
    height: 130px;
     margin: 15px;
}

 .canto{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 25px;
 }
 .base{
    display: flex;
    align-items: flex-start;
    width: 100%;
 }
 .col{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 25px;
    font-size: 18px;
 }


 @media (max-width:800px) 
 {
    body{
        flex-direction: column;
    } 
 } 