*{
    margin: 0px;
    padding: 0px;
    
    }
.light-mode{
    color: black;
    background-color: white;
}
.dark-mode{
    color: white;
    background-color: rgba(0, 0, 0, 0.477);
    box-shadow: 4px 8px rgba(244, 239, 239, 0.854),
}


header{
    height: 100px;
    background-color:#1d6847;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
input{
    border-radius: 50px;
    height: 50px;
    margin: 30px;
    width: 250px;
    
 }

.logim {
    margin: 25px;
    width: 50px;
    height: 50px;
    border-radius: 7px;

   
}
#toggle-button { 
    width: 50px;
    height: 50px;
    border-radius: 7px;
    
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 70px;
}


nav{
    
    height: 40px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}

button{
    width: 510PX;
    border-radius: 5px;
    
}
h1{
    justify-content: center;
    display: flex;
    padding: 35px;
}  
.ima{
    height: 250px;
    width: 380px;
    background-color: #3169a0;
    margin: 80px;
    margin-top: 10px;
    
  }

.tema{
    display: flex;
}
.texto{
    
    width: 800px;
    height: 250px;
    background-color: blue;
    justify-content: left;   
    margin: 8px;
    margin-bottom: 80px;
}
 p{
    text-align: center;
    font-size: 25px;
    padding: 15;


 }


footer{   
    background-color: #1d6847; 
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer img{
    width: 100px;
     
}

 .canto{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 25px;
 }
 .base{
    display: flex;
    align-items: flex-start;
    width: 100%;
 }
 .col{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 25px;
    font-size: 18px;
 }

 /* @media (max-width 800px) 

 {
     flex-direction: colun;
 } */